body {
        /* background-image: url(./images/quiz\ logo1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; */
        background-color: rgb(146, 172, 33,0.75) ;
}